In [1]:
%load_ext sql

In [2]:
%sql postgresql://guest:Guest1234@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: guest@dev'

## INNER JOIN

In [3]:
%%sql

SELECT * FROM raw_data.Vital v
JOIN raw_data.Alert a ON v.vitalID = a.vitalID

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101, 4, datetime.date(2020, 1, 2), 95, 1, 4, 'WeightIncrease', datetime.date(2020, 1, 1), 101)]

## LEFT JOIN

In [5]:
%%sql

SELECT * FROM raw_data.Vital v
LEFT JOIN raw_data.Alert a ON v.vitalID = a.vitalID

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
4 rows affected.

[(100, 1, datetime.date(2020, 1, 1), 75, None, None, None, None, None),
 (100, 3, datetime.date(2020, 1, 2), 78, None, None, None, None, None),
 (101, 2, datetime.date(2020, 1, 1), 90, None, None, None, None, None),
 (101, 4, datetime.date(2020, 1, 2), 95, 1, 4, 'WeightIncrease', datetime.date(2020, 1, 1), 101)]

## FULL JOIN (OUTER JOIN)

In [6]:
%%sql

SELECT * FROM raw_data.Vital v
FULL JOIN raw_data.Alert a ON v.vitalID = a.vitalID

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[(101, 4, datetime.date(2020, 1, 2), 95, 1, 4, 'WeightIncrease', datetime.date(2020, 1, 1), 101),
 (None, None, None, None, 2, None, 'MissingVital', datetime.date(2020, 1, 4), 100),
 (None, None, None, None, 3, None, 'MissingVital', datetime.date(2020, 1, 4), 101),
 (101, 2, datetime.date(2020, 1, 1), 90, None, None, None, None, None),
 (100, 1, datetime.date(2020, 1, 1), 75, None, None, None, None, None),
 (100, 3, datetime.date(2020, 1, 2), 78, None, None, None, None, None)]

## CARTESIAN JOIN (CROSS JOIN)

In [8]:
%%sql

SELECT *
FROM (
  SELECT vitalid -- 1, 2, 3, 4
  FROM raw_data.vital
)
CROSS JOIN (
  SELECT alertid -- 1, 2, 3
  FROM raw_data.alert
);

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
12 rows affected.

[(1, 1),
 (1, 2),
 (1, 3),
 (3, 1),
 (3, 2),
 (3, 3),
 (2, 1),
 (2, 2),
 (2, 3),
 (4, 1),
 (4, 2),
 (4, 3)]

In [9]:
%%sql

SELECT * FROM raw_data.Vital v
CROSS JOIN raw_data.Alert A;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
12 rows affected.

[(100, 1, datetime.date(2020, 1, 1), 75, 1, 4, 'WeightIncrease', datetime.date(2020, 1, 1), 101),
 (100, 3, datetime.date(2020, 1, 2), 78, 1, 4, 'WeightIncrease', datetime.date(2020, 1, 1), 101),
 (101, 2, datetime.date(2020, 1, 1), 90, 1, 4, 'WeightIncrease', datetime.date(2020, 1, 1), 101),
 (101, 4, datetime.date(2020, 1, 2), 95, 1, 4, 'WeightIncrease', datetime.date(2020, 1, 1), 101),
 (100, 1, datetime.date(2020, 1, 1), 75, 2, None, 'MissingVital', datetime.date(2020, 1, 4), 100),
 (100, 3, datetime.date(2020, 1, 2), 78, 2, None, 'MissingVital', datetime.date(2020, 1, 4), 100),
 (101, 2, datetime.date(2020, 1, 1), 90, 2, None, 'MissingVital', datetime.date(2020, 1, 4), 100),
 (101, 4, datetime.date(2020, 1, 2), 95, 2, None, 'MissingVital', datetime.date(2020, 1, 4), 100),
 (100, 1, datetime.date(2020, 1, 1), 75, 3, None, 'MissingVital', datetime.date(2020, 1, 4), 101),
 (100, 3, datetime.date(2020, 1, 2), 78, 3, None, 'MissingVital', datetime.date(2020, 1, 4), 101),
 (101, 2, datetime.date(2020, 1, 1), 90, 3, None, 'MissingVital', datetime.date(2020, 1, 4), 101),
 (101, 4, datetime.date(2020, 1, 2), 95, 3, None, 'MissingVital', datetime.date(2020, 1, 4), 101)]

## SELF JOIN

In [11]:
%%sql

SELECT * FROM raw_data.Vital v1
JOIN raw_data.Vital v2 ON v1.vitalid = v2.vitalid

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
4 rows affected.

[(100, 1, datetime.date(2020, 1, 1), 75, 100, 1, datetime.date(2020, 1, 1), 75),
 (100, 3, datetime.date(2020, 1, 2), 78, 100, 3, datetime.date(2020, 1, 2), 78),
 (101, 2, datetime.date(2020, 1, 1), 90, 101, 2, datetime.date(2020, 1, 1), 90),
 (101, 4, datetime.date(2020, 1, 2), 95, 101, 4, datetime.date(2020, 1, 2), 95)]