In [1]:
%load_ext sql

In [2]:
%sql postgresql://guest:Guest1234@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: guest@dev'

## OUT JOIN이 필요한지 테이블 점검

In [3]:
%%sql

select distinct sessionid from raw_data.session_timestamp
minus
select distinct sessionid from raw_data.user_session_channel;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
0 rows affected.

[]

In [4]:
%%sql

select distinct sessionid from raw_data.user_session_channel
minus
select distinct sessionid from raw_data.session_timestamp

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
0 rows affected.

[]

In [5]:
%%sql

select * from raw_data.session_transaction
where amount <= 0

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('3d194d58a6470121c92f29c1ee4c936f', False, 0),
 ('50aaa83c9c2d1d1f3ebc6c732c1abc8c', False, 0),
 ('7fbfc161a3b873bf2119c788ed93d1f4', False, 0),
 ('d288a67e5fe3b80c0ccb9531e87d437a', False, 0),
 ('dfc95d616451863a4fe614534e08261c', False, 0),
 ('297b51d372955449d68d0b67ffda8c80', False, 0),
 ('52660fd5af844425740f3a7bf5151008', False, 0),
 ('99e17fbe90095024e6c982c85d43d150', False, 0),
 ('d572948a93127fa250a9aa8a122a4403', False, 0),
 ('e00747f11c12e85717de726cc6c2f188', False, 0)]

In [8]:
%%sql

SELECT 
  LEFT(ts, 7) "month", 
  channel,
  COUNT(DISTINCT usc.userid) uniqueUsers,
  COUNT(DISTINCT CASE WHEN amount > 0 THEN usc.userid END) paidUsers,
  ROUND(paidUsers*100/NULLIF(uniqueUsers, 0),2) conversionRate,
  SUM(amount) grossRevenue,
  SUM(CASE WHEN refunded is False THEN amount END) netRevenue
FROM raw_data.user_session_channel usc
LEFT JOIN raw_data.session_timestamp t ON t.sessionid = usc.sessionid
LEFT JOIN raw_data.session_transaction st ON st.sessionid = usc.sessionid
GROUP BY 1, 2
ORDER BY 1, 2;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Facebook', 247, 14, Decimal('5'), 1199, 997),
 ('2019-05', 'Google', 253, 10, Decimal('3'), 580, 580),
 ('2019-05', 'Instagram', 234, 11, Decimal('4'), 959, 770),
 ('2019-05', 'Naver', 237, 11, Decimal('4'), 867, 844),
 ('2019-05', 'Organic', 238, 17, Decimal('7'), 1846, 1571),
 ('2019-05', 'Youtube', 244, 9, Decimal('3'), 529, 529),
 ('2019-06', 'Facebook', 414, 22, Decimal('5'), 1578, 1578),
 ('2019-06', 'Google', 412, 13, Decimal('3'), 947, 947),
 ('2019-06', 'Instagram', 410, 21, Decimal('5'), 1462, 1418),
 ('2019-06', 'Naver', 398, 15, Decimal('3'), 1090, 1090),
 ('2019-06', 'Organic', 416, 14, Decimal('3'), 1129, 940),
 ('2019-06', 'Youtube', 400, 17, Decimal('4'), 1042, 1042),
 ('2019-07', 'Facebook', 558, 32, Decimal('5'), 2222, 2144),
 ('2019-07', 'Google', 556, 21, Decimal('3'), 1558, 1385),
 ('2019-07', 'Instagram', 567, 24, Decimal('4'), 1896, 1766),
 ('2019-07', 'Naver', 553, 19, Decimal('3'), 1547, 1547),
 ('2019-07', 'Organic', 557, 22, Decimal('3'), 1600, 1600),
 ('2019-07', 'Youtube', 564, 36, Decimal('6'), 2210, 2037),
 ('2019-08', 'Facebook', 611, 18, Decimal('2'), 1009, 1009),
 ('2019-08', 'Google', 610, 27, Decimal('4'), 2210, 1894),
 ('2019-08', 'Instagram', 621, 28, Decimal('4'), 2129, 2001),
 ('2019-08', 'Naver', 626, 22, Decimal('3'), 1829, 1551),
 ('2019-08', 'Organic', 608, 26, Decimal('4'), 1643, 1606),
 ('2019-08', 'Youtube', 614, 18, Decimal('2'), 987, 950),
 ('2019-09', 'Facebook', 597, 27, Decimal('4'), 2270, 2270),
 ('2019-09', 'Google', 599, 25, Decimal('4'), 1872, 1691),
 ('2019-09', 'Instagram', 588, 20, Decimal('3'), 1260, 1122),
 ('2019-09', 'Naver', 592, 21, Decimal('3'), 1996, 1996),
 ('2019-09', 'Organic', 592, 22, Decimal('3'), 1267, 1267),
 ('2019-09', 'Youtube', 588, 15, Decimal('2'), 1301, 1301),
 ('2019-10', 'Facebook', 698, 29, Decimal('4'), 1650, 1641),
 ('2019-10', 'Google', 699, 30, Decimal('4'), 2150, 2098),
 ('2019-10', 'Instagram', 707, 33, Decimal('4'), 2568, 2395),
 ('2019-10', 'Naver', 713, 32, Decimal('4'), 2695, 2695),
 ('2019-10', 'Organic', 709, 31, Decimal('4'), 2762, 2608),
 ('2019-10', 'Youtube', 705, 34, Decimal('4'), 2492, 2319),
 ('2019-11', 'Facebook', 688, 25, Decimal('3'), 1678, 1678),
 ('2019-11', 'Google', 688, 26, Decimal('3'), 2286, 2235),
 ('2019-11', 'Instagram', 669, 25, Decimal('3'), 2116, 2116),
 ('2019-11', 'Naver', 667, 26, Decimal('3'), 2234, 1987),
 ('2019-11', 'Organic', 677, 34, Decimal('5'), 2626, 2255),
 ('2019-11', 'Youtube', 677, 45, Decimal('6'), 3532, 3331)]

In [9]:
%%sql

DROP TABLE IF EXISTS adhoc.cyan9212_monthly_channel_summary;

CREATE TABLE adhoc.cyan9212_monthly_channel_summary
AS
SELECT
  TO_CHAR(ts, 'YYYY-MM') year_month,
  usc.channel,
  COUNT(DISTINCT usc.userid) unique_users,
  COUNT(DISTINCT CASE WHEN amount>0 THEN usc.userid END) paid_users,
  ROUND(paid_users*100./NULLIF(unique_users, 0), 2) conversion_rate,
  SUM(amount) gross_revenue,
  SUM(CASE WHEN refunded is False THEN amount ELSE 0 END) net_revenue
FROM raw_data.user_session_channel usc
LEFT JOIN raw_data.session_timestamp st ON st.sessionid = usc.sessionid
LEFT JOIN raw_data.session_transaction str ON str.sessionid = usc.sessionid
GROUP BY 1, 2;

--CTAS 방식으로 테이블을 생성한 경우 ORDER BY는 무시된다.

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: --CTAS 방식으로 테이블을 생성한 경우 ORDER BY는 무시된다.]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [11]:
%%sql

SELECT * FROM adhoc.cyan9212_monthly_channel_summary
LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('2019-06', 'Facebook', 414, 22, Decimal('5'), 1578, 1578),
 ('2019-11', 'Instagram', 669, 25, Decimal('3'), 2116, 2116),
 ('2019-10', 'Organic', 709, 31, Decimal('4'), 2762, 2608),
 ('2019-09', 'Organic', 592, 22, Decimal('3'), 1267, 1267),
 ('2019-09', 'Google', 599, 25, Decimal('4'), 1872, 1691),
 ('2019-06', 'Instagram', 410, 21, Decimal('5'), 1462, 1418),
 ('2019-06', 'Youtube', 400, 17, Decimal('4'), 1042, 1042),
 ('2019-08', 'Naver', 626, 22, Decimal('3'), 1829, 1551),
 ('2019-05', 'Naver', 237, 11, Decimal('4'), 867, 844),
 ('2019-11', 'Youtube', 677, 45, Decimal('6'), 3532, 3331)]

## 중복 레코드 확인

In [ ]:
%%sql


SELECT COUNT(1)
FROM raw_data.session_transaction;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(996,)]

In [ ]:
%%sql 

SELECT COUNT(1)
FROM(
  SELECT DISTINCT sessionId, refunded, amount
  FROM raw_data.session_transaction
);

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(996,)]

## Primary key uniqueness가 지켜지는지 확인

In [ ]:
%%sql

SELECT sessionId, COUNT(1)
FROM raw_data.session_transaction
GROUP BY 1
ORDER BY 1 DESC
LIMIT 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[('ffe9304fba15f7a1b039ab4e066cbfcd', 1)]

## NULL값 확인

In [ ]:
%%sql

SELECT 
  COUNT(CASE WHEN sessionId is NULL THEN 1 END) sessionid_null_count,
  COUNT(CASE WHEN amount is NULL THEN 1 END) amount_null_count,
  COUNT(CASE WHEN refunded is NULL THEN 1 END) refunded_null_count
FROM raw_data.session_transaction;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(0, 0, 0)]