In [1]:
%load_ext sql

In [2]:
%sql postgresql://guest:Guest1234@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: guest@dev'

## Redshift와 Pandas 연동하기

In [3]:
result = %sql SELECT * FROM raw_data.user_session_channel
df = result.DataFrame()

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
101520 rows affected.

In [4]:
df.head()

   userid                         sessionid    channel
0    1651  0004289ee1c7b8b08c77e19878106ae3    Organic
1    1197  00053f5e11d1fe4e49a221165b39abc9   Facebook
2    1401  00056c20eb5a029583db75506953f1d9   Facebook
3    1399  00063cb5da1826febf178b669eea3250   Facebook
4    1667  000958fdaefe0dd06f5d7c4e4a5f28d1  Instagram

In [6]:
df.groupby(['channel']).size()

channel
Facebook     16791
Google       16982
Instagram    16831
Naver        16921
Organic      16904
Youtube      17091
dtype: int64

In [10]:
df.groupby(['channel'])['sessionid'].count()

channel
Facebook     16791
Google       16982
Instagram    16831
Naver        16921
Organic      16904
Youtube      17091
Name: sessionid, dtype: int64

In [19]:
result = %sql SELECT * FROM raw_data.session_timestamp
df_st = result.DataFrame()

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
101520 rows affected.

In [20]:
df_st['date'] = df_st['ts'].apply(lambda x: "%d-%02d-%02d" % (x.year, x.month, x.day))

In [21]:
df_st.groupby(['date']).size()

date
2019-05-01    147
2019-05-02    161
2019-05-03    150
2019-05-04    142
2019-05-05    144
             ...
2019-11-26    633
2019-11-27    617
2019-11-28    516
2019-11-29    531
2019-11-30    562
Length: 214, dtype: int64

In [22]:
df_st.groupby(['date'])['sessionid'].count().reset_index(name='count').sort_values('date', ascending=False)

           date  count
213  2019-11-30    562
212  2019-11-29    531
211  2019-11-28    516
210  2019-11-27    617
209  2019-11-26    633
..          ...    ...
4    2019-05-05    144
3    2019-05-04    142
2    2019-05-03    150
1    2019-05-02    161
0    2019-05-01    147

[214 rows x 2 columns]